:root {
    --header-background: #31343d;
    --header-text: #92cccd;
    --header-link-hover: #fafafa;
    --section-heading: #445876;
    --grid-color: #91cccd;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* --------------Header-------------- */
header {
    background-color: var(--header-background);
    color: var(--header-text);
    padding: 15px 5px;
}

header > * {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-size: 250%;
    color: var(--header-background);
    background-color: var(--header-text);
    padding: 1% 2%;
    border-radius: 20px 0 0 20px;
    text-align: center;
}

#profile-picture {
    width: 10%;
    border-radius: 20px;
    border: solid;
    transform: translateX(-8px);
}

nav {
    float: right;
    font-size: 150%;
    padding: 5%;
}

nav a {
    text-decoration: none;
    color: var(--header-text);
    border-bottom: solid;
    padding: 6px;
    margin-right: 4px;
}

nav a:visited {
    color: var(--header-text);
}

nav a:hover {
    color: var(--header-link-hover);
}

#nav-menu {
    display: none;
}

/* ---------------Main--------------- */

main {
    padding: 15px 0;
}

/* ---------About Me--------- */
main > section {
    margin: 40px;
    height: fit-content;
}

main > section > * {
    display: inline-block;
}

main > section > h2 {
    font-size: 250%;
    color: var(--section-heading);
    width: 15%;
    height: 100%;
    text-align: right;
    vertical-align: top;
    margin-right: 20px;
}

.small-display {
    text-align: left;
    width: 100%;
    display: none;
}

.content-section, .grid-container {
    width: 75%;
    border-left: solid var(--section-heading);
    padding-left: 40px;
}

main > section > section p {
    padding-bottom: 15px;
    line-height: 1.5;
}

/* ---------Work--------- */
.grid-container {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40vh 20vh 20vh;
    gap: 15px;
}

.grid-container a {
    text-decoration: none;
}

.grid-container a:visited {
    color: black;
}

.grid-container figure {
    height: 100%;
    border: 5px solid var(--grid-color);
    background-color: var(--section-heading);
}

.grid-container figure:hover img {
    transition: 0.4s;
    opacity: 0.5;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-container figcaption {
    width: fit-content;
    padding: 5px 20px;
    background-color: var(--grid-color);
    position: relative;
    transform: translateY(-90px);
}

.grid-container figcaption * {
    line-height: 1.75;
}

.grid-container h3 {
    font-size: 150%;
}

/* Row 1, Col 1 & 2 */
#surf-report {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Row 2, Col 1 */
#led-wall {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* Row 2, Col 2 */
#calculator {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* Row 3, Col 1 */
#pastel-puzzels {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

/* Row 3, Col 2 */
#run-buddy {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* ---------Contact Me--------- */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contact a {
    display: inline-block;
    text-decoration: none;
    border-bottom: solid;
    padding: 6px;
    margin: 20px;
    font-size: 150%;
}

#contact a:visited {
    color: var(--section-heading);
}

#contact a:hover {
    color: var(--grid-color);
}

/* ---------Resume--------- */
#resume section > * {
    font-size: 130%;
}

/* ---------------Responsive Code--------------- */
@media screen and (max-width: 980px) {
    #nav-menu {
        display: block;
    }
    
    nav a {
        display: none;
    }
    
    nav:hover a {
        display: block;
    }
    
    nav:hover #nav-menu {
        display: none;
    }

    .big-display {
        display: none;
    }

    .small-display {
        display: block;
    }
    
    .content-section {
        border: none;
        border-top: solid;
        padding-top: 15px;
        padding-left: 0;
        width: 100%;
    }

    main > section > * {
        display: block;
    }
}
